* {
  font-family: 'Open Sans', sans-serif;
  font-family: 'Roboto', sans-serif;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-family: 'Roboto', sans-serif;
}

main {
border: solid #C0EBEB 5px;
display: flex;
height: 99vh;
color:#FFF;
font-family: 'Open Sans', sans-serif;
font-family: 'Roboto', sans-serif;
}

/* User view*/

.user-view {
  background-color: #3BA4A5;
  width: 20%;
  display: flex;
  padding-top: 1%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.user-info  {
  border: solid black #C0EBEB;
  background-color: #9ADDDE;
  width: 60%;
  height: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

/* Change Game Button */

.change-game-view {
  /* border: solid black 2px; */
  padding-top: 20%;
  display: flex;
  flex-direction: column;
}

button {
  background: #D8EEF3;
}

/* Computer view */

.computer-view {
  background-color: #3BA4A5;
  width: 20%;
  padding-top: 1%;
  display: flex;
  justify-content: center;
}

.computer-info {
  border: solid #C0EBEB 1px;
  background-color: #9ADDDE;
  width: 60%;
  height: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

/* Game view*/

.game-view {
  background-color: #75D0D0;
  border: solid #C0EBEB 3px;
  width: 60%;
  display: flex;
  flex-direction: column;
}

.header {
  border: solid #C0EBEB 3px;
  height: 20%;
}

.game-instructions {
  background-color: #75D0D0;
  border: solid #C0EBEB 3px;
  height: 10%;
}

.choose-game-view {
  border: solid #C0EBEB 3px;
  background-color: #75D0D0;
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.game-types-view {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.classic-game {
  /* border: solid red 2px; */
  display: flex;
  /* flex-direction: column; */
  /* height: : 50%; */
}

.difficult-game {
  /* border: solid red 2px; */
  display: flex;
  /* flex-direction: column; */
  /* height: : 50%; */
}

header {
  display: flex;
  justify-content: center;
  padding: 40px;
}

h3 {
  display: flex;
  justify-content: center;
  padding: 10px;
}

/* Views */

.choose-weapon-view {
  /* border: solid black 2px; */
  display: flex;
  flex-direction: column;
}

.weapon-types-view{
  /* border: solid black 5px; */
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.difficult-weapons {
  /* border: solid black 5px; */
}

.show-winner-view {
  /* border: solid black 5px; */
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

 /* hidden */

.hidden {
  display: none;
}
