main {
  display: flex;
  justify-content: space-between;
}

main {
  border: solid black 2px;
  background-color: blue;
}

user-view {
  border: solid black 2px;
}
computer-view {
  border: solid black 2px;
}

game-view {
  border: solid black 2px;
}

h1 {
  color: red;
}

body {
  border: solid black 2px;
  background-color: blue;
}
